@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}
.navigation{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3c4f6e;
}
.button{
    color: white;
    padding: 15px;
    margin:15px;
    font-size: 25px;
    background-color: #61728d;
}
img{   
    height:70px;
}