@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap%27');
*{
    font-family: 'Roboto' , sans-serif;
    margin:0;
}

nav, main, header{
    width: 1200px;
    margin: auto;
    box-sizing: border-box;
}
header{
    background-color: #F4F4F4;
    height: 200px;
}
nav{
    height: 50px;
    background-color: #11264E;
}
main{
    background-color: #F4F4F4;
    height: 738px;
    padding: 36px 100px 1px 100px;
}
h1{
    display: inline;
    color: #11264E;
    font-weight: 700;
    font-size: 60px;
    text-align: center;
    position: absolute;
    line-height: 200px;
}
h2{
    font-size: 36px;
    font-weight: 700px;
    padding-left: 65px;
    padding-top: 30px;
}
p{
    
    align-items: center;
    text-align: justify;
    text-indent: 25px;
    font-size: 18px;
    line-height: 24px;
    margin-left: 44px;
    margin-right: 41px;
}
.background{
    background-color: white;

}
li{
    color: #F0F2F4;
    display: inline;
    font-size: 24px;
    font-weight: 700px;
    list-style-type: none;
    padding: 10px 20px;
    text-align: center;
    line-height: 50px;
}
li:hover{
    text-decoration: underline;
}
.img1, .img2, .img3{
    display: inline;
    width: 280px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.img1{
    margin-left: 42px;
}
.img2{
    margin-left: 38px;
}
.img3{
    margin-left: 38px;
}
.links{
    margin-left: 60px;
}
.logo{
    margin-left: 110px;
    margin-top: 15px;
}